@font-face {
  font-family: "Dagny";
  src: local("Dagny"),
   url(~assets/Dagny/NNDagnyText-Regular.otf) format("opentype");
}

html {
  font-family: "Dagny", "Source Sans Pro", "Segoe UI", "Helvetica Neue" !important;
  color: #414141;
}
